twitch.channelName=yourChannelName
twitch.oauthuser=Yourchatbot user oauth
twitch.id=twitch dev app id
twitch.secret=twitch dev app secret
twitch.rewardname=Play with the streamer

events4j.handler.spring.enabled=true